:root {
  --bg-color-main: #212121;
  --bg-color-secondary: #323232;
  --color-main: #14ffec;
  --color-secondary: #0d7377;
  --text-color-white: #e4f9f5;
  --text-color-black: var(--bg-color-main);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color-main);
  color: var(--text-color-white);
}

#root {
  width: 75%;
  margin: 0 auto;
}

.contact-app {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contact-app h1 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 1rem;
}

.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 3.5rem;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  background-color: var(--bg-color-secondary);
  border-radius: 10px;
  overflow: hidden;
}

.contact-item__image img {
  height: 100%;
  object-fit: cover;
  margin-bottom: -1rem;
}

.contact-item__username {
  color: var(--color-main);
  text-decoration: underline;
}
